@import url('https://fonts.googleapis.com/css?family=Raleway');

*{
    font-family: 'Raleway', sans-serif !important;
}

body{
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}

.main{
    width: 100vw;
    height: 100vh;
    display: flex;
}

.image {
    width: 40%;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    background-image: url(./Assets//SurfingGirl.jpg);
    filter: sepia(600%) hue-rotate(190deg) saturate(600%);
    background-size: cover;
    background-position-x: center;
  }

.content{
    width: 60%;
    display:flex; 
    flex-direction: column;
    justify-content: left;
    align-items: left;
    padding: 10%;
}
from{
    margin-left: 50;
    border-bottom-width: 3px;
}
.loginBtn{
   border-radius: 50px;
   justify-content: left;
   width: 100px;
   margin-left: 20px;
   background-color: blue;
   font-size: smaller;
   color: antiquewhite; 
   padding: 12px;
}

.input{
    margin:20px;
    border-width:0 0 1px 0;
    border-color:dimgrey;
}
.heading{
    margin: 20px;
}
.other{
    display: flex;
    color: darkslategrey;
}
.face{
    display: flex;
    padding: 25px;
    width: 20px;
    height: 20px;
}
.footer{
    top: 100%;
    padding: 10%;
    color: darkslategray
}
.round{
    height: 100%;
    width: 100%;
    /**aa su chhe 50 px width to bc kyathi ave ena thi motu and height api 500%
     atale su matlab khabar pade game em lakhi do 500% and 50 px*/
}
.third{
    position: fixed;
      bottom: 0;
      margin: 20px;
      width: 50%;
  }
  .myhead{
    font-size: 15px;
    margin: 10px;
    color: white;
  }
  .elements{
    height: fit-content;
    padding: 10px;
    margin: 20px;
    color: white;
}
.second{
    font-size: 15px;
    margin: 20px;
    color: black;
    width: 60%;
}
.myLogo {
    height: 40px;
    width: 40px;
    margin :30px;
  }