@import url('https://fonts.googleapis.com/css?family=Raleway');


*{
    font-family: 'Raleway', sans-serif ;
}

body{
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}


.main{
    width: 100vw;
    height: 100vh;
    display: flex;
}

.image {
    width: 40%;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    background-image: url(./Assets//SurfingGirl.jpg);
    filter: sepia(600%) hue-rotate(190deg) saturate(600%); 
    background-size: cover;
    background-position-x: center;
  }

.content{
    width: 60%;
    display:flex; 
    flex-direction: column;
    justify-content: left;
    align-items: left;
    padding: 10%;
}
from{
    margin-left: 50;
    border-bottom-width: 3px;
}
.loginBtn{
   border-radius: 50px;
   justify-content: left;
   width: 100px;
   margin-right: 320px;
   background-color: blue;
   font-size: smaller;
   color: antiquewhite; 
   padding: 12px;
}

.input{
    margin:20px;
    border-width:0 0 1px 0;
    border-color:dimgrey;
}
.heading{
    margin: 20px;
}
.other{
    display: flex;
    color: darkslategrey;
}
.footer{
    display:flex;
    flex-direction: row;
    margin: 150px 0px 0px 20px;
    justify-content: space-between;
    color: darkslategray;
  
}
.round{
    height: 100%;
    width: 100%;
    background-color:rgba(0, 0, 255, 0.4);
}
.third{
    position: fixed;
      bottom: 0;
      margin: 20px;
      width: 50%;
  }
  .myhead{
    font-size: 15px;
    margin: 10px;
    color: white;
  }
  .elements{
    height: fit-content;
    padding: 10px;
    margin: 20px;
    color: white;
}
.second{
    font-size: 15px;
    margin: 20px;
    font-size: larger;
    color: white;
    width: 50%;
    padding: 0px 0 0 10px;
    font-size: 130%;
}
.myLogo {
    height: 40px;
    width: 40px;
    margin :30px;
  }

  .face {
    display: flex;
    justify-content: center;
    width: 20px;
    height: fit-content;
    padding: 10px;
    margin: 0 10px 0 10px;
    border: 1px solid #d5d9dc;
    border-radius: 50%;
  }
  .iconfacebook {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
    margin: 20px 0 0 20px;
  }
  .signUp {
    font-size: 10px;
    color: darkslategrey;
  }
  a {
    text-decoration: none;
    color:#d5d9dc;
  }