@import url('https://fonts.googleapis.com/css?family=Raleway');

*{
    font-family: 'Raleway', sans-serif !important;
}
.main{
    width: 100vw;
    height: 100vh;
    display: flex;
    
}

.image{
    width: 40%;
    display: flex;
    justify-content: center;
    overflow: hidden
}
img{
    filter: sepia(600%) hue-rotate(190deg) saturate(600%);
}

.content{
    width: 60%;
    display:flex; 
    flex-direction: column;
    justify-content: left;
    align-items: left;
    padding: 10%;
}
from{
    margin-left: 50;
    border-bottom-width: 3px;
}
.borderTest{
    border:1px solid red;
}
.loginBtn{
   border-radius: 50px;
   justify-content: left;
   width: 100px;
   margin-left: 20px;
   background-color: blue;
   font-size: smaller;
   color: antiquewhite; 
   padding: 12px;
}

.input{
    margin:20px;
    border-width:0 0 1px 0;
    border-color:dimgrey;
}
.heading{
    margin: 20px;
}
.other{
    display: flex;
    color: darkslategrey;
}
.face{
    display: flex;
    padding: 25px;
    width: 20px;
    height: 20px;
}
.myhead{
    top: 50%;
    position: relative;
    
}
.footer{
    top: 100%;
    padding: 10%;
    color: darkslategray
}
