@import url("https://fonts.googleapis.com/css?family=Raleway");

* {
  font-family: "Raleway", sans-serif;
}
.main {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.image {
  width: 50%;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  background-image: url(./Assets//SurfingGirl.jpg);
  filter: sepia(600%) hue-rotate(190deg) saturate(600%);
  background-size: cover;
  background-position-x: center;
}


.content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  padding: 10%;
}

.borderTest {
  border: 1px solid red;
}
.loginBtn {
  border-radius: 50px;
  justify-content: left;
  width: 100px;
  margin: 0 90px 0 0;
  background-color: blue;
  font-size: smaller;
  color: antiquewhite;
  padding: 5px;
}

.input {
  margin: 20px;
  border-width: 0 0 1px 0;
  border-color: dimgrey;
}
.heading {
  margin: 20px;
}
.other {
  display: flex;
  color: darkslategrey;
}
.face {
  display: flex;
  padding: 25px;
  width: 20px;
  height: 20px;
}
.myhead {
  top: 50%;
}
.footer {
  top: 100%;
  padding: 10%;
}

.icon {
  display: flex;
  justify-content: center;
  width: 18px;
  height: fit-content;
  padding: 10px;
  margin: 0 10px 0 10px;
  border: 1px solid #d5d9dc;
  border-radius: 50%;
}
.iconWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
  margin: 20px 0 0 20px;
}
.signUpText {
  align-self: center;
}
a {
  color: #0060b6;
  text-decoration: none;
}
.myLogo {
  height: 40px;
  width: 40px;
  margin :30px;
}

.imageText{
    margin: 10px;
    padding: 0 0 0 30px;
    font-size: 20px;
    font-weight: bold;
    color:white;
    text-shadow: 1px 1px #ff0000;
}
.imageElements{
    height: fit-content;
}
.mask{
  height: 100%;
  width: 100%;
  background-color:rgba(0, 0, 255, 0.4);
}
.imageTextFooter{
  position: fixed;
    bottom: 0;
    margin: 20px;
    width: 100%;
}
.footerChild{
  font-size: 15px;
  margin: 10px;
  
}